<div class="home">
	<form action="" " data-dojo-attach-event="submit:submit">
		<div class="row">
			<label class="small-3 small-offset-3" for="${textId}">
				<h4>Please enter a word</h4>
			</label>
		</div>
		<div class="row">
			<div class="small-6 small-offset-3">
				<input data-dojo-attach-point="wordNode" 
					type="text" 
					id=${textId}">
			</div>
		</div>
		<div class="row">
			<div class="small-9 text-right">
				<button type="submit"
					class="button success">
					Find contained words...
				</button>
			</div>
		</div>
	</form>
</div>